<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143647895105-s5lrcjp3pjd1m4aeeduff569ua2ricfp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143647895105-s5lrcjp3pjd1m4aeeduff569ua2ricfp</string>
	<key>API_KEY</key>
	<string>AIzaSyCk4zAGan44FFCwAn6mB0gYBpQp0auYCxA</string>
	<key>GCM_SENDER_ID</key>
	<string>143647895105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linchoplus.mathniacPlus</string>
	<key>PROJECT_ID</key>
	<string>mathniac-aea8f</string>
	<key>STORAGE_BUCKET</key>
	<string>mathniac-aea8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143647895105:ios:170af54d5e38308fa0e0c0</string>
	<key>DATABASE_URL</key>
	<string>https://mathniac-aea8f.firebaseio.com</string>
</dict>
</plist>